:root{

    --color-blanco: white;
 
 
 
 }
 
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  .container-main {
    position: relative;
    text-align: center;
    
    
     
  }
 

  .logo-siman{
    width: 30%;
  }
 
 
  